@page "/Incrementer"

<PageTitle>Incrementer</PageTitle>

<h1>Incrementer</h1>

<p role="status">Current count: @currentCount</p>

<button class="btn btn-warning" @onclick="IncrementCount">Increment</button>

@code {
    private int currentCount = 10;

    private void IncrementCount()
    {
        currentCount++;
    }
}
